/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-3-20, 3:01:47
    Author     : Administrator
*/

@media screen and (orientation: portrait) {  
    html{  
        width : 100% ;  
        height : 100% ;  
        background-color: white ;  
        overflow : hidden;  
    }  
    body{  
        width : 100% ;  
        height : 100% ;  
        background-color: red ;  
        overflow : hidden;  
    }  
    #print{  
        position : absolute ;  
        background-color: yellow ;  
    }  
}   
@media screen and (orientation: landscape) {  
    html{  
        width : 100% ;  
        height : 100% ;  
        background-color: white ;  
    }   
    body{  
        width : 100% ;  
        height : 100% ;  
        background-color: white ;  
    }  
    #print{  
        position : absolute ;  
        top : 0 ;   
        left : 0 ;  
        width : 100% ;  
        height : 100% ;  
        background-color: yellow ;  
    }  
}  
#print p{  
    margin: auto ;  
    margin-top : 20px ;  
    text-align: center;  
}  